h1{
    display: flex;
    justify-content: center;
    background-color: rgba(172, 171, 171, 0.48);
    font-size:60px;
}
.sea{
    color:#00bfff
}

.mountain{
    color:rgb(6, 128, 0)
}

button{
    font-size: 50px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 30%;
    border-color: rgba(172, 171, 171, 0.48);
}

.button-s{
    background-color: #00bfff86;
}

.button-m{
    background-color: rgba(6, 128, 0, 0.327);
}